footer{
    display: flex;
    flex-direction: column;
.copyright{
    font-size: 12px;
    font-family: $fontSecundary;
    color: $terciaryColor;
    margin-bottom: 50px;

    span{
        color: $primaryColor;
    }
}
.social-icons{
    img{
        margin: 0 8px;
    }
}
}