.header{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;       
    background: url(/img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;

}

.landing{
    h1{
        font-family: $fontPrimary;
        font-size: 40px;
        color: $backgroundColor;
        margin-bottom: 40px;
    }
    p{
        font-family: $fontSecundary;
        font-size: 1rem;
        color: $backgroundColor;
        margin-bottom: .5rem;
    }

.btn{
        
            width: 170px;
            height: 40px;
            color: $primaryColor;
            font-family: $fontSecundary;
            background-color: $backgroundColor;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 56px;
        
    }
}