@font-face {
    font-family: ProximaNovaThin;
    src: url(../font/Proxima\ Nova\ Thin.otf);
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url(../font/ProximaNova-Regular.otf);
}
@font-face {
    font-family: ProximaNovaBold;
    src: url(../font/Proxima\ Nova\ Bold.otf);
}
h2 {
    font-family:ProximaNovaBold;
    font-size: 36px;
    color: #fff;
    padding: 1rem 0;
}
.heading {
  background: white;
  height: 5%;
  margin: 10px;
  padding: 10px;
}

.swiper-container {
  width: 100%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-general {
  padding: 0 0;
  margin: 0 auto;
  width: 100%;
  background: #222A30;
}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.container-general .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item:hover {
  flex: 4;
}

.wrap-effect-1 .item:first-of-type {
  background-image: url("../images/web3.png");
}
.wrap-effect-1 .item:nth-of-type(2) {
  background-image: url("../images/web1.png");
}
.wrap-effect-1 .item:last-of-type {
  background-image: url("../images/web2.png");
}

.wrap-effect-2 .item:hover {
  transform: translate3d(0, 0, 100px);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
.wrap-effect-2 .item:first-of-type {
  background-image: url("../images/web4.png");
}
.wrap-effect-2 .item:nth-of-type(2) {
  background-image: url("../images/web5.png");
}
.wrap-effect-2 .item:last-of-type {
  background-image: url("../images/web6.png");
}

.wrap-effect-3 .item:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item:first-of-type {
  background-image: url("../images/social1.png");
}
.wrap-effect-3 .item:nth-of-type(2) {
  background-image: url("../images/social2.png");
}
.wrap-effect-3 .item:last-of-type {
  background-image: url("../images/social3.png");
}

.wrap-effect-4 .item:hover {
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  filter: contrast(120%);
}
.wrap-effect-4 .item:first-of-type {
  background-image: url("../images/social4.png");
}
.wrap-effect-4 .item:nth-of-type(2) {
  background-image: url("../images/social5.png");
}

.wrap-effect-4 .item:last-of-type {
  background-image: url("../images/social6.png");
}
.wrap-effect-5 .item:first-of-type {
  background-image: url("../images/social7.png");
}
.wrap-effect-5 .item:nth-of-type(2) {
  background-image: url("../images/social8.png");
}
.wrap-effect-5 .item:last-of-type {
  background-image: url("../images/social9.png");
}
.wrap-effect-6 .item:first-of-type {
  background-image: url("../images/social10.png");
}
.wrap-effect-6 .item:nth-of-type(2) {
  background-image: url("../images/social11.png");
}
.wrap-effect-6 .item:last-of-type {
  background-image: url("../images/social12.png");
}
.wrap-effect-7 .item:first-of-type {
  background-image: url("../images/social13.png");
}
.wrap-effect-7 .item:nth-of-type(2) {
  background-image: url("../images/social14.png");
}
.wrap-effect-7 .item:last-of-type {
  background-image: url("../images/social15.png");
}

.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.inspire:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.inspire:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}